<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
    <body>
        <h2>
            <p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">VALUE</p>
            <p th:text="${person.getId()}">VALUE</p>
        </h2>
        <hr>
        <a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>
        <h2>
            <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
                <input type="submit" value="Удалить"/>
            </form>
        </h2>
    </body>
</html>